@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;1,400&family=Roboto+Slab&display=swap");

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: rgb(65, 25, 110);
  color: #f5f2f7;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
}

h1.title {
  font-size: 40px;
}

.title-screen {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 30px;
}
